<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>hello.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloservlet</servlet-name>
    <servlet-class>com.java115.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloservlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderservlet</servlet-name>
    <servlet-class>com.java115.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderservlet</servlet-name>
    <url-pattern>/admin/orders</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>providerservlet</servlet-name>
    <servlet-class>com.java115.servlet.ProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>providerservlet</servlet-name>
    <url-pattern>/admin/providers</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ptypeservlet</servlet-name>
    <servlet-class>com.java115.servlet.PtypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ptypeservlet</servlet-name>
    <url-pattern>/admin/ptypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileservlet</servlet-name>
    <servlet-class>com.java115.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileservlet</servlet-name>
    <url-pattern>/admin/dofile</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.java115.listener.OnlineNumListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>proservlet</servlet-name>
    <servlet-class>com.java115.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proservlet</servlet-name>
    <url-pattern>/admin/pros</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminservlet</servlet-name>
    <servlet-class>com.java115.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminservlet</servlet-name>
    <url-pattern>/dologin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charsetfilter</filter-name>
    <filter-class>com.java115.filter.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charsetfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.java115.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>